
body{
 background-color: azure;
}
.contact{
    margin:auto;
    padding:auto;
}
.contact h2{
    color:black;
    text-align: center;
    margin: 20px 20px;
}
.contact h3{
    color:brown;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.buttoncontainer{
 display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.button{
    width:300px;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
}